# Specific files and folders
_Binary/*d.exe
_Binary/*d.ini
Z_DELETE

# Compiled Object files
*.slo
*.lo
*.o

# Visual Studio specifics
*.suo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app
*.sdf
*.opensdf

# Interpreter
*.stackdump
*.opendb
*.db
.vs/
_Binary/*_d.ini
Freefall/AppClass.h
Freefall/AppClass.cpp
_Binary/Data/MOBJ/FFmodel/RoundCrate.mtl
_Binary/Data/MOBJ/FFmodel/Ground.obj
_Binary/Data/MOBJ/FFmodel/Ground.mtl
_Binary/Data/MOBJ/FFmodel/FreeFallMan.obj
_Binary/Data/MOBJ/FFmodel/FreeFallMan.mtl
Freefall/Main.h
Freefall/Main.cpp
Freefall/Freefall.vcxproj.user
Freefall/Freefall.vcxproj.filters
Freefall/EntityManagerFF.h
Freefall/EntityManagerFF.cpp
Freefall/EntityFF.h
Freefall/EntityFF.cpp
Freefall/Definitions.h
_Binary/Data/MOBJ/FFmodel/BoxCrate.obj
_Binary/Data/MOBJ/FFmodel/BoxCrate.mtl
Freefall/readme.txt
Freefall/MyRigidBody.h
Freefall/MyRigidBody.cpp
Freefall/ControllerConfiguration.h
Freefall/ControllerConfiguration.cpp
Freefall/AppClassMain.cpp
Freefall/AppClassGUI.cpp
Freefall/AppClassControls.cpp
_Binary/Data/Textures/freeFallManDiffuse.png
_Binary/Data/Textures/Ground.png
_Binary/Data/MOBJ/FFmodel/cube.obj
_Binary/Data/MOBJ/FFmodel/cube.mtl
_Binary/Data/MOBJ/FFmodel/RoundCrate.obj
Freefall/Freefall.vcxproj
